---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Amirabbas Fazelinia" description="Amirabbas Fazelinia's personal website.">
	<main>
		<h1>Amirabbas Fazelinia &lt;utilyre@gmail.com&gt;</h1>

		<h2>Social Media</h2>

		<ul>
			<li>LinkedIn: <a href="https://linkedin.com/in/utilyre">in/utilyre</a></li>
			<li>GitHub: <a href="https://github.com/utilyre">utilyre</a></li>
			<li>X: <a href="https://x.com/utilyre">@utilyre</a></li>
		</ul>

		<h2>Cryptography</h2>

		<code>
		<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEZpoc6RYJKwYBBAHaRw8BAQdAI/xv59IacSc/EOI/Fq0l/oV7AWQEnx8hrqSI
qSO3j6S0J0FtaXJhYmJhcyBGYXplbGluaWEgPHV0aWx5cmVAZ21haWwuY29tPoiT
BBMWCgA7FiEEqsYhvqcHUA7pTJD799VQfC86jaAFAmaaHOkCGwMFCwkIBwICIgIG
FQoJCAsCBBYCAwECHgcCF4AACgkQ99VQfC86jaDerQD+Ma/CPb3pSWXkHHdw1nEB
4iPGpTC9CjKlqxmJrNEu9IoA/j9QLpQ5PmlnJsI5RqKsmmWoHijknYu9KsJ1iDcV
TnEHuDgEZpoc6RIKKwYBBAGXVQEFAQEHQKLIF9MttewBtAjlG338hBpAv/eEpTVd
iwvZ6m7F4FM9AwEIB4h4BBgWCgAgFiEEqsYhvqcHUA7pTJD799VQfC86jaAFAmaa
HOkCGwwACgkQ99VQfC86jaDsGgD9FHwnNH8qX3iQpo14g5Z5ImGS2BkaJlOq0v3L
U96yF+gBANI6NdAD0f4kaMdoZommZ1pRzxeVQZOLdMWQNIrsGW4M
=86Tu
-----END PGP PUBLIC KEY BLOCK-----
		</pre>
		</code>
	</main>
</Layout>
