---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Amirabbas Fazelinia" description="Amirabbas Fazelinia's personal website.">
	<main class="bg-black text-white w-screen h-screen">
		<div class="grid grid-cols-2 p-16 w-full gap-4">
			<a
				href="https://linkedin.com/in/utilyre"
				class="flex items-center gap-2 p-2 bg-white text-black rounded-xl backdrop-blur-lg"
			>
				<Icon name="bi:linkedin" class="inline-block" /> in/utilyre
			</a>

			<a
				href="https://github.com/utilyre"
				class="flex items-center gap-2 p-2 bg-white text-black rounded-xl backdrop-blur-lg"
			>
				<Icon name="bi:github" class="inline-block" /> @utilyre
			</a>

			<a
				href="https://x.com/utilyre"
				class="flex items-center gap-2 p-2 bg-white text-black rounded-xl backdrop-blur-lg"
			>
				<Icon name="bi:twitter-x" class="inline-block" /> @utilyre
			</a>

			<a
				href="https://instagram.com/utilyree"
				class="flex items-center gap-2 p-2 bg-white text-black rounded-xl backdrop-blur-lg"
			>
				<Icon name="bi:instagram" class="inline-block" /> @utilyree
			</a>
		</div>
	</main>
</Layout>
