---
import Layout from '../layouts/Layout.astro';

import Badge from '../components/badge.astro'
import Code from '../components/code.astro'
---

<Layout title="Utilyre" description="Amirabbas Fazelinia's personal website.">
	<main
		class="w-screen h-screen bg-gradient-to-b from-gray-100 via-gray-300 to-gray-500 flex justify-center items-center flex-col gap-10"
	>
	  <nav class="flex bg-gray-800 rounded-full px-8 py-4 text-white gap-4">
		  <Badge href="mailto:utilyre@gmail.com" icon="mdi:email" />
		  <Badge href="https://linkedin.com/in/utilyre" icon="mdi:linkedin" />
		  <Badge href="https://github.com/utilyre" icon="mdi:github" />
		  <Badge href="https://x.com/utilyre" icon="mdi:twitter" />
	  </nav>

	  <section class="space-y-2 w-2/3 md:w-fit">
	    <h1 class="w-fit font-extrabold text-3xl md:text-5xl bg-gradient-to-tr bg-clip-text text-transparent from-blue-500 via-indigo-500 to-purple-500">Hi, it's Amirabbas</h1>
	    <p class="text-gray-700 text-sm">A computer engineering student.</p>
	  </section>

		<Code type="bash" className="w-3/4 h-18 md:w-1/2">
      gpg --recv-keys AAC621BEA707500EE94C90FBF7D5507C2F3A8DA0
		</Code>
	</div>
</Layout>
