---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Amirabbas's Website" description="Amirabbas Fazelinia's personal website.">
	<div class="w-screen h-screen bg-gradient-to-b from-gray-100 via-gray-300 to-gray-500 flex justify-center items-center flex-col gap-10">
	  <div class="flex bg-gray-800 rounded-full px-8 py-4 text-white gap-4">
	    <a href="mailto:utilyre@gmail.com" class="flex"><Icon name="mdi:email" class="inline-block text-xl" /></a>
	    <a href="https://linkedin.com/in/utilyre" class="flex"><Icon name="mdi:linkedin" class="inline-block text-xl" /></a>
	    <a href="https://github.com/utilyre" class="flex"><Icon name="mdi:github" class="inline-block text-xl" /></a>
	    <a href="https://x.com/utilyre" class="flex"><Icon name="mdi:twitter" class="inline-block text-xl" /></a>
	  </div>
  
	  <div class="space-y-2 w-2/3 md:w-fit">
	    <h1 class="font-extrabold text-5xl bg-gradient-to-tr bg-clip-text text-transparent from-blue-500 via-indigo-500 to-purple-500">Hi, it's Amirabbas</h1>
	    <p class="text-gray-700 text-sm">A computer engineering student.</p>
	  </div>

	  <div class="bg-gray-600 overflow-hidden rounded-md h-18 flex flex-col justify-between w-3/4 md:w-1/2">
	    <p class="text-sm px-2 py-1 text-gray-300">bash</p>
	    <code class="bg-gray-800 text-white p-4 w-full overflow-x-scroll flex text-nowrap">
	      gpg --recv-keys AAC621BEA707500EE94C90FBF7D5507C2F3A8DA0
	    </code>
	  </div>
	</div>
</Layout>
