---
import { Icon } from "astro-icon/components";

const { title, icon, href } = Astro.props;
---

<a {href} class="flex">
  <Icon name={icon} {title} class="glow inline-block text-xl" />
</a>

<style>
  .glow {
    filter: drop-shadow(-1px -2px 4px rgb(255 255 255 / 0.15))
      drop-shadow(2px 4px 8px rgb(255 255 255 / 0.5));
  }
</style>
