---
import { Icon } from 'astro-icon/components'

const { type, className } = Astro.props;
---

<section
  class=`bg-black border-2 border-black overflow-hidden rounded-md flex flex-col justify-between ${className}`
>
  <div class="px-2 py-1 flex justify-between items-center">
    <p class="text-sm text-gray-300">{type}</p>

    <button id="btn-copy">
      <Icon name="mdi:content-copy" title="Copy" class="text-sm" />
    </button>
  </div>

  <code
    id="code"
    class="bg-slate-900 text-white text-sm md:text-base p-4 w-full overflow-x-scroll flex text-nowrap"
  >
    <slot />
  </code>
</section>

<script>
const btnCopy = document.getElementById("btn-copy");
const code = document.getElementById("code");

btnCopy!.onclick = () => {
  navigator.clipboard.writeText(code!.innerText);
};
</script>
